# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TodoApp.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\DotNetCore\TraversyMedia\TodoApp\.idea\.idea.TodoApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
